<aside class="sidebar z-2" data-role="sidebar" data-toggle="#sidebar-toggle-2">
  <div class="sidebar-header side">
    <a routerLink="/" class="fg-white sub-action" data-image="images/sb-bg-1.jpg"
    onclick="Metro.sidebar.close('#sb1'); return false;">
    <span class="mif-arrow-left mif-2x"></span>
      </a>
    <div class="avatar">
      <img data-role="gravatar" data-email="miguelaude@ymail.com" alt="Foto de perfil" class="profile-img">>
    </div>
      <span class="title fg-white">Miguel Aude Alcaraz</span>
      <span class="subtitle fg-white"> Computational System Engineer</span>
  </div>
  <ul class="sidebar-menu fg-white men">
      <li><a [routerLink]="'home'" routerLinkActive="active"><span class="mif-home icon"></span>Home</a></li>
      <li><a routerLink="about"><span class="mif-books icon"></span>Resumen</a></li>
      <li><a routerLink="proyectos"><span class="mif-suitcase icon"></span>Proyectos</a></li>
      <li><a routerLink="blog/blog" ><span class="mif-news icon"></span>Blog</a></li>
      <li class="divider"></li>
      <li><a><span class="mif-images icon"></span>Icons</a></li>
  </ul>
</aside>
<div class="h-100 p-ab ">
  <button class="button1 "
          id="sidebar-toggle-2">
      <span class="mif-menu"></span>
  </button>
</div>
