#container {
  width: 200px;
  height: 140px;
}
.men{
  background-color: rgb(0, 4, 52);
}
button{
  margin-left: 30px;
}
.side{
  background-image: url('../../../../assets/vecteezy_blue-technology-future-big-data-server-glow-triangular_7064600.jpg');
}
