img{
  border-radius: 100%;
  width: 50%;
  height: 90%;
}
#hey{
  font-size: 3rem;
  font-weight: bolder;
  color: rgb(255, 255, 255);
  font-family: Onest Variable, system-ui, sans-serif;
}

#disponible1{
  margin-top: 20px;
  border-radius: 2rem;
  font-family: sans-serif;
  font-weight: bolder;
  margin-left: 0%;
}
.button1{
  --glow-color: rgb(8, 64, 234); /* Azul rey */
  --glow-spread-color: rgba(0, 61, 244, 0.781); /* Azul rey con opacidad */
  --enhanced-glow-color: rgb(6, 63, 234); /* Azul rey */
  --btn-color: rgb(8, 14, 39); /* Un tono más oscuro de azul */
  border: 0.25em solid var(--glow-color);
  padding: 1em 3em;
  color: var(--glow-color);
  font-weight: bold;
  background-color: var(--btn-color);
  border-radius: 1em;
  outline: none;
  box-shadow: 0 0 1em .25em var(--glow-color),
              0 0 4em 1em var(--glow-spread-color),
              inset 0 0 .75em .25em var(--glow-color);
  text-shadow: 0 0 .5em var(--glow-color);
  position: relative;
  transition: all 0.35s;
  animation: glow-animation 3s infinite linear; /* Añadir la animación */
}

.button1::after{
  pointer-events: none;
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--glow-spread-color);
  filter: blur(2em);
  opacity: .7;
  transform: perspective(1.5em) rotate(35deg) scale(1, .6);
}

.button1:hover {
  color: var(--btn-color); /* Cambié esto */
  background-color: var(--glow-color);
  box-shadow: 0 0 1em .25em var(--glow-spread-color),
              0 0 4em 2em var(--glow-color),
              inset 0 0 .75em .25em var(--glow-color);
}

.button1:active{
  box-shadow: 0 0 0.6em .25em var(--glow-color),
              0 0 2.5em 2em var(--glow-spread-color),
              inset 0 0 .5em .25em var(--glow-color);
}

.side{
  background-image: url('../../../../assets/vecteezy_blue-technology-future-big-data-server-glow-triangular_7064600.jpg');
}

@keyframes glow-animation {
  0% {
    box-shadow: 0 0 1em .25em var(--glow-color),
                0 0 4em 1em var(--glow-spread-color),
                inset 0 0 .75em .25em var(--glow-color);
    border-color: var(--glow-color);
  }
  25% {
    box-shadow: 0 0 1em .25em var(--enhanced-glow-color),
                0 0 4em 1em var(--glow-color),
                inset 0 0 .75em .25em var(--enhanced-glow-color);
    border-color: var(--enhanced-glow-color);
  }
  50% {
    box-shadow: 0 0 1em .25em var(--glow-spread-color),
                0 0 4em 1em var(--enhanced-glow-color),
                inset 0 0 .75em .25em var(--glow-spread-color);
    border-color: var(--glow-spread-color);
  }
  75% {
    box-shadow: 0 0 1em .25em var(--glow-color),
                0 0 4em 1em var(--glow-spread-color),
                inset 0 0 .75em .25em var(--glow-color);
    border-color: var(--glow-color);
  }
  100% {
    box-shadow: 0 0 1em .25em var(--enhanced-glow-color),
                0 0 4em 1em var(--glow-color),
                inset 0 0 .75em .25em var(--enhanced-glow-color);
    border-color: var(--enhanced-glow-color);
  }
}

.desa{
  color: rgb(235, 235, 81);
}
p{
  font-family: sans-serif;
  font-size: 1.5rem;
}


.btn2, .btn{
  margin-top: 20px;
  border-radius: 2rem;
  font-family: sans-serif;
  font-weight: bolder;
  margin-left: 0%;
  color: white;
}
.btn3.button {
  background-color: transparent !important;
  display: flex;            /* Para centrar la imagen */
  align-items: center;      /* Para centrar la imagen verticalmente */
  justify-content: center;  /* Para centrar la imagen horizontalmente */
  width: px;             /* Ancho del botón */
  height: 35px;            /* Alto del botón */
  padding: 0;               /* Eliminar padding del botón */
  border: none;             /* Eliminar borde del botón */
  background-color: #fff;   /* Fondo del botón */
}

/* Estilo para la imagen */
.btn3.button img {
  width: 100%;              /* Abarcar el ancho completo del botón */
  height: 100%;             /* Abarcar el alto completo del botón */
  object-fit: contain;      /* Ajustar la imagen sin distorsionarla */
}

.col-6 {
  width: 50%;
  margin: 0 auto; /* Centra el contenido */
  padding: 20px;
  box-sizing: border-box;
}

p {
  line-height: 1.6;
}
.font-bold {
  font-weight: bold;
}
