<div class="row">
  <div class="col-2 avatar">
    <img data-role="gravatar" data-email="miguelaude@ymail.com" alt="Foto de perfil" class="profile-img">
  </div>
  <div class="col-3">
    <button id="disponible" class="button1 outline pos-left" data-role="hint" data-hint-text="Contactame!"
      (click)="openEmailOptions()">Disponible Para Trabajar</button>
  </div>
</div>
<div class="row">
  <div class="col-8">
    <h1 class="font-bold" id="hey">Ing. Miguel Aude Alcaraz</h1>
    <p>¡Hola! Soy <strong class="desa">Ingeniero en Sistemas Computacionales</strong> con más de 10 años de experiencia
      en Tecnologías de la Información.
      Actualmente me encuentro trabajando en el <strong class="desa">Desarrollo Web (Fullstack).</strong></p>
    <p>Estoy enfocado en ello y en constante aprendizaje y
      actualización de las nuevas tecnologías, y te digo una cosa: ¡me encanta!</p>
  </div>
</div>
<div class="row">
  <div class="col-8">
    <h1 class="font-bold" id="hey"><a [routerLink]="'/about'"><span class="mif-books icon"></span>Resumen Profesional</a></h1>
</div>
