<div class="main-container">
  <div class="kopo">
    <app-sidebar class="put-left"></app-sidebar>
  </div>
  <div class="row container">
    <div class="col">
    </div>
    <div class="col">
      <router-outlet style="margin-top: 0% !important;"></router-outlet>
    </div>
  </div>
  <div class="footer">
    <div class="row justify-content-md-center">
      <div class="col-4"></div>
      <div class="col-2"><a class="btn3 button" href="https://github.com/mikeaude1/"><img src="../../../../assets/github.png" alt=""> </a></div>
      <div class="col-2"><a class="btn3 button" href="https://www.linkedin.com/in/miguel-aude-alcaraz-845aa4205/"><img src="../../../../assets/logotipo-de-linkedin.png" alt=""> </a></div>
      <div class="col-2"><a class="btn3 button" href="{{ whatsappLink }}"><img src="../../../../assets/whatsapp.png" alt=""> </a></div>
    </div>
  </div>
</div>
