<div class="row justify-content-md-center">
  <div class="col-12 col-md-7"> <!-- Cambio col-7 a col-md-7 para adaptarse mejor a pantallas grandes -->
    <div class="text-center">
      <h1>Resume</h1>
    </div>

    <!-- Contact Section -->
    <div class="resume-content">
      <h4 class="section-title">Contact</h4>
      <ul class="list-unstyled">
        <li><strong>Date of Birth:</strong> July 5, 1984</li>
        <li><strong>Place of Birth:</strong> Chihuahua, Chi.</li>
        <li><strong>Current City:</strong> Ciudad Chihuahua</li>
        <li><strong>Nationality:</strong> Mexican</li>
        <li><strong>Address:</strong> Altamirano #2509, Col. Altavista, Chihuahua, Chihuahua</li>
        <li><strong>Cell phone:</strong> +52 614 406 9420</li>
        <li><strong>Email:</strong> miguelaude&#64;ymail.com (Not &#64;gmail)</li>
      </ul>
    </div>

    <!-- Education Section -->
    <div class="resume-content mt-4">
      <h4 class="section-title">Education</h4>
      <p><strong>Professional:</strong> Autonomous University of Chihuahua (UACH)</p>
      <p><strong>Title received:</strong> Finished Engineering degree in Computer Systems in hardware (Professional ID
        and Title)</p>
      <p>• Diploma in English Philosophy and Letters Finished B1-B2+.</p>
    </div>

    <!-- Profile Section -->
    <div class="resume-content mt-4">
      <h4 class="section-title">Profile</h4>
      <p>Systems Engineer with extensive experience in Level 2 end-user support and experience as a full-stack web
        developer with the MVC model (Java, MySQL, and JavaScript). I have strong analytical skills, focused on
        solving problems through ITIL methodology best practices. Methodical, creative, and proactive in
        problem-solving.</p>
    </div>

    <!-- Work Experience Section -->
    <div class="resume-content mt-4">
      <h4 class="section-title">Work Experience</h4>

      <h5>May 2023 - Present</h5>
      <h6>UTCH (Technological University of Chihuahua)</h6>
      <p>As a member of the UTCH team, I am actively involved in managing the university's platform, where I handle
        various service requests from clients. My responsibilities include developing new modules for the university's
        website and resolving any technical issues that arise.</p>
      <p>In my role, I primarily work with the Java programming language, utilizing the Play Framework for backend
        development, along with MySQL for database management. For frontend development, I leverage the jQuery
        framework for JavaScript functionality and the Metro UI V2 framework, akin to Bootstrap, for creating modern
        and responsive user interfaces.</p>
      <p>Some of my notable achievements include successfully completing projects aimed at enhancing the functionality
        and user experience of the university's web platform. You can explore our website at <a
          href="https://proyecta.utch.edu.mx/" target="_blank"
          class="text-decoration-none text-info">https://proyecta.utch.edu.mx/</a>.</p>

      <h5>April 1, 2019 – April 30, 2023</h5>
      <h6>Federal Criminal Justice Center</h6>
      <p>Worked as a video recording technician and supported IT technicians for final users (hardware and software).
        Maintained and repaired audiovisual equipment, handled databases, and provided assistance with system
        configurations and user access.</p>

      <h5>March 27, 2012 to March 27, 2019</h5>
      <h6>Radio Movil Dipsa SA de CV (Telcel customer service center)</h6>
      <p>Worked as a terminal team analyst, analyzing and diagnosing electronic cards of cellular equipment,
        performing software updates, and maintaining cellular devices' hardware and software.</p>
    </div>

    <!-- Personal Studies Section -->
    <div class="resume-content mt-4">
      <h4 class="section-title">Personal Studies</h4>
      <h5>Currently Pursuing Professional Development</h5>
      <p>I am currently engaged in ongoing professional development initiatives to enhance my skills in programming
        and English language proficiency. Presently, I am enrolled in a full-stack programming with Angular and Spring
        Boot course to further expand my technical expertise. Additionally, I am actively participating in an English
        Language diploma program offered by the Faculty of Engineering, where I am currently at level 6 out of 10.
        This level of proficiency enables me to engage in conversations, read, and write effectively. These endeavors
        underscore my dedication to continuous learning and readiness to tackle new challenges.</p>
    </div>
  </div>

  <!-- Image and Skills Section -->
  <div class="col-12 col-md-5"> <!-- Cambio col-5 a col-md-5 para adaptarse mejor a pantallas grandes -->
    <div class="resume-content">
      <img src="../../../../assets/foto cv.jpg" alt="Foto de perfil" class="profile-img">
      <h4 class="section-title">Skills</h4>
      <ul class="list-unstyled">
        <li>Network and computer support</li>
        <li>English B1-B2</li>
        <li>Java</li>
        <li>MySQL</li>
        <li>JavaScript</li>
        <li>Play Framework</li>
        <li>JQuery</li>
        <li>Metro UI</li>
        <li>Basic knowledge of Typescript, Node, and Angular</li>
        <li>Extensive knowledge in mode and router configuration</li>
        <li>Knowledge of C#, .NET</li>
        <li>Knowledge of C++</li>
        <li>Turbo C handling</li>
        <li>Basic knowledge of PLC</li>
        <li>Excellent knowledge in telecommunications (cellular equipment repairs of both software and hardware)</li>
        <li>Handling tickets in help desk</li>
        <li>Knowledge of structured wiring</li>
        <li>Advanced knowledge of Cisco video conferencing equipment</li>
        <li>Basic knowledge of criminal law</li>
        <li>Advanced knowledge of flowcharts</li>
        <li>Remote desktop</li>
        <li>Settings VPN (FortiClient)</li>
        <li>Excellent Handling of Excel and tools for Microsoft</li>
      </ul>
    </div>
  </div>
</div>
