<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Redirige las solicitudes de archivos existentes
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    # Redirige todo lo demás al index.html
    RewriteRule ^ index.html [L]
</IfModule>
