body {
  background: rgb(2, 0, 36);
  background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(1, 81, 119, 1) 60%, rgba(0, 212, 255, 1) 100%);
  color: white;
  height: 100%; /* Asegura que el body tenga al menos el 100% de la altura de la pantalla */
  min-height: 100%; /* Para asegurarte de que cubra toda la altura */
  margin: 0; /* Elimina cualquier margen por defecto del body */
}
@media (max-width: 768px) {
  body {
    font-size: 14px;
    padding: 10px;
  }

  .contenedor {
    flex-direction: column; /* Cambiar diseño a una columna */
    align-items: stretch;   /* Asegúrate de que los elementos ocupen todo el ancho */
    gap: 10px;
    margin: 0;
  }
}

